e-posta-ozetleyici.json.json
{
  "name": "mailozetbot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        -16
      ],
      "id": "d31d7475-7093-4e6f-b63e-a8c5f30bc466",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "id, From, To, CC, snippet",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        96,
        -16
      ],
      "id": "db592000-36e1-403a-89e9-4f8b780065dc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -144,
        -16
      ],
      "id": "c40780a0-d311-4a60-aa1b-f125353838c7",
      "name": "Get many messages",
      "webhookId": "5ab3997a-ed05-4655-86ca-920302c5686d",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "9S8OV2FWiyrKp4AD",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sen bir e-posta özetleyici asistansın. Aşağıdaki e-posta verilerini analiz et:\n\n1.  Her e-posta için kısa ve anlamlı bir özet oluştur ve bunu `summary_of_emails` altında listele.\n2.  Eğer herhangi bir aksiyon alınması gerekiyorsa, bunu `actions` altında belirt.\n3.  Her e-posta özeti `<from>` etiketi içinde gönderenin **isim ve e-posta adresi** bilgisiyle birlikte verilmelidir.\n      * `from` alanı şu formattaysa: `\"Özlem Altıntaş (ozlemaltintas857@gmail.com)\"`, o zaman `<from>Özlem Altıntaş (ozlemaltintas857@gmail.com)</from>` şeklinde yazılmalıdır.\n4.  Özellikle aşağıdaki türde içerikleri aksiyon olarak çıkar:\n      * Ödeme yapılması gereken durumlar (örn. \"5 gün içinde ödeme yapılmalı\", \"fatura ektedir\")\n      * Belirli bir tarihe kadar yapılması gereken işler\n      * Acil olarak yanıt verilmesi istenen mailler\n      * Toplantı/etkinlik katılımı, teyit verilmesi gereken durumlar\n      * İptaller, son tarihler, talepler vb.\n5.  Tüm yanıtlar Türkçe olmalı.\n\nVeri aşağıdaki gibidir:\n\nInput:\n`{{ $json.data[0] }}`\n\nBeklenen çıktı formatı:\n\n```json\n{\n  \"summary_of_emails\": [\n    \"<from>Özlem Altıntaş (ozlemaltintas857@gmail.com)</from>: Kısa özet 1\",\n    \"<from>bayan ozi (bayanozi1@outlook.com)</from>: Kısa özet 2\"\n  ],\n  \"actions\": [\n    {\n      \"name\": \"Bayan Ozi\",\n      \"action\": \"Yanıt verilmesi gerekiyor\"\n    }\n  ]\n}\n```",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        304,
        -16
      ],
      "id": "e3eb4e53-cf05-41d2-9e41-d04f64eb81b2",
      "name": "e mail özetleyici"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        192
      ],
      "id": "52478c53-36a1-4a2a-8353-ad60db8c4f7b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wpTVWpC3rmhSt5Y7",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary_of_emails\": [\n    \"<from>Özlem Altıntaş (ozlemaltintas857@gmail.com)</from>: Kısa özet 1\",\n    \"<fromBayan Ozi (bayanozi1@outlook.com)</from>: Kısa özet 2\"\n  ],\n  \"actions\": [\n    {\n      \"name\": \"Bayan Ozi\",\n      \"action\": \"Yanıt verilmesi gerekiyor\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        448,
        208
      ],
      "id": "46b3c93d-533d-43b8-9e87-4483f5cb79ed",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sendTo": "ozlemaltintas857@gmail.com",
        "subject": "=Email Agent Günlük Rapor - {{ (() => { const date = new Date(); date.setDate(date.getDate() - 1); return date.toLocaleDateString('tr-TR', { timeZone: 'Europe/Istanbul', day: '2-digit', month: 'short', year: 'numeric' }); })() }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>24 Saatlik Email Özet - ozlemaltintas857@.com</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #FFF0F5; /* Açık Pembe Arka Plan */\n            color: #333;\n            line-height: 1.6;\n        }\n        .email-container {\n            max-width: 600px;\n            margin: 20px auto;\n            background: #ffffff; /* Beyaz İçerik Alanı */\n            border: 1px solid #D7A9E3; /* Açık Mor Çerçeve */\n            border-radius: 10px;\n            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n        }\n        .email-header {\n            background-color: #6A0DAD; /* Mor Header */\n            color: #ffffff; /* Beyaz Yazı */\n            padding: 20px;\n            text-align: center;\n            border-top-left-radius: 10px;\n            border-top-right-radius: 10px;\n        }\n        .email-header h1 {\n            margin: 0;\n        }\n        .email-content {\n            padding: 20px; /* İçerik için padding eklendi */\n        }\n        .section-title {\n            font-size: 20px;\n            color: #6A0DAD; /* Mor Başlık */\n            margin-bottom: 10px;\n        }\n        ul {\n            list-style: none;\n            padding: 0;\n        }\n        ul li {\n            margin: 10px 0;\n            padding: 10px;\n            background: #FFF0F5; /* Açık Pembe Liste Arka Planı */\n            border-left: 4px solid #E10098; /* Canlı Pembe Vurgu */\n            border-radius: 5px;\n        }\n        .action-item {\n            font-weight: bold;\n            margin: 5px 0;\n            color: #6A0DAD; /* Mor Aksiyon Adı */\n        }\n        .action-detail {\n            margin-left: 10px;\n        }\n        .email-footer {\n            background-color: #6A0DAD; /* Mor Footer */\n            color: #ffffff; /* Beyaz Yazı */\n            text-align: center;\n            padding: 10px;\n            font-size: 14px;\n            border-bottom-left-radius: 10px;\n            border-bottom-right-radius: 10px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"email-header\">\n            <h1>Email Özet</h1>\n        </div>\n        \n        <div class=\"email-content\">\n            <h2 class=\"section-title\">Email Özeti:</h2>\n            <ul>\n {{ $json.output.summary_of_emails.map(email => `<li>${email}</li>`).join('') }}\n            </ul>\n\n            <h2 class=\"section-title\">Aksiyonlar:</h2>\n            <ul>\n                {{ $json.output.actions.map(action => `\n                <li>\n                    <span class=\"action-item\">${action.name}:</span>\n                    <span class=\"action-detail\">${action.action}</span>\n                </li>\n                `).join('') }}\n            </ul>\n        </div>\n\n        <div class=\"email-footer\">\n            <p>Yapay Zeka ile hazırlanmıştır</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        -16
      ],
      "id": "d12232cf-f299-4208-ab8c-f482b2b4739d",
      "name": "Send a message",
      "webhookId": "bf9b4180-c989-4e79-9811-57985b8da336",
      "credentials": {
        "gmailOAuth2": {
          "id": "9S8OV2FWiyrKp4AD",
          "name": "Gmail account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "e mail özetleyici",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "e mail özetleyici",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "e mail özetleyici",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "e mail özetleyici": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Istanbul",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "f2f8ec13-a58c-4130-9a17-b7de31821762",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc465b408fab2784e18a632cb80bd73453db85962a4b6319169b38e56143130b"
  },
  "id": "6wkDFbvTav0jCuGY",
  "tags": []
}